.navbar{
  background-color: red
}


.navbar-light .navbar-brand {
    color: #2196F3;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}
.col-sm-12{
    font-size: larger;
    margin-bottom: 2rem;
    font-family: roboto;
    font-weight: 500;
    line-height: 1;
    color: darkgoldenrod;
    margin-top: 2rem;
}

.btn {
    color: #fff;
    background-color: #51525f;
    border-color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: pre-wrap;
    vertical-align: middle;
    width: 248px
}

.framework{
  background-color: rgba(58, 47, 47, 0.06)
}
